[submodule "TcpSocket"]
	path = TcpSocket
	url = git@github.com:sw4sys/lv-tcp-socket.git
	branch = library
[submodule "Logger"]
	path = Logger
	url = git@github.com:sw4sys/lv-logger.git
	branch = library
[submodule "LoggingActor"]
	path = LoggingActor
	url = git@github.com:sw4sys/lv-logging-actor.git
	branch = library
[submodule "PythonWrapper"]
	path = PythonWrapper
	url = git@github.com:sw4sys/lv-python-wrapper.git
	branch = library
[submodule "PathUtils"]
	path = PathUtils
	url = git@github.com:sw4sys/lv-path-utils.git
	branch = library
[submodule "DateTime"]
	path = DateTime
	url = git@github.com:sw4sys/lv-date-time.git
	branch = library
[submodule "StringUtils"]
	path = StringUtils
	url = git@github.com:sw4sys/lv-string-utils.git
	branch = library
